<nav class="navbar navbar-light w-100">
    <a class="navbar-brand fs-12" routerLink="/home">LucasSG00</a>

    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="btn btn-sm btn-outline-secondary border-0" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-sm btn-outline-secondary border-0" routerLink="/sobre">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-sm btn-outline-secondary border-0" routerLink="/projeto">Projetos</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-sm btn-outline-secondary border-0 " routerLink="/contato">Contato</a>
          </li>
      </ul>

  </nav>