<nav class="navbar w-100 px-5">
  <a routerLink="/home">
    <img src="https://i.imgur.com/6cfvOFZ.png" alt="Logo" width="40%">
  </a>

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="btn btn-sm btn-outline-secondary border-0 align-middle" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-sm btn-outline-secondary border-0 align-middle" routerLink="/sobre">Sobre</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-sm btn-outline-secondary border-0" routerLink="/projeto">Projetos</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-sm btn-outline-secondary border-0 " routerLink="/contato">Contato</a>
    </li>
  </ul>
</nav>