<div class="container-fluid" style="height: 90vh">

    <div class="rows d-flex justify-content-center align-items-center h-100 d-inline-block">

        <div class="col-md-5">
            <h2 class="mb-3">
                Desenvolvedor Java Full Stack Jr<br>
                <small class="text-muted">
                    Java | Spring Boot | Angular | Javascript | TypeScript | MySQL | Scrum | Design Thinking
                </small>
            </h2>
            <h2>
                Análise de Sistemas<br>
                <small class="text-muted">
                    Centro Universitário Senac
                </small>
            </h2>
        </div>

        <div class="col-md-5">
            <p class="font-weight-bold">
                Desde pequeno sempre gostei muito da área de tecnologia e ao ir pesquisando sobre, acabei
                ficando apaixonado por programação e inteligência artificial e as milhares de possibilidades que
                ambas podem proporcionar.
            </p>
            <p  class="font-weight-bold">
                Após muitas pesquisas dentro da área de tecnologia tomei a decisão de começar o curso de Análise
                e Desenvolvimento de Sistemas no Senac.
            </p>
            <p  class="font-weight-bold">
                E após algum tempo fui aprovado no processo seletivo do bootcamp da Generation Brasil e venho
                conciliando os estudos do bootcamp com os da faculdade, na qual tenho o foco de me tornar um
                Desenvolvedor Full Stack Java.
            </p>
        </div>

    </div>

</div>