<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="content">
        <div class="row mt-35">
            <div class="col-md-12 rounded-circle">
                <img src="https://i.imgur.com/20HkuvX.png" class="rounded mx-auto d-block rounded-circle" alt="" width="150px">
            </div>
        </div>

        <div class="columns">
            <h1 class="text-center m-0">Olá, Sou o Lucas</h1>
            <p class="fs-12 text-center m-0">Desenvolvedor Full Stack Java</p>
        </div>

    </div>
</div>