/* Animação Titulo */
.digitar {
    font-size: 30pt;
    white-space: nowrap;
    overflow: hidden;
}

.typing-animation {
    animation: blinkCursor steps(40) 500ms infinite normal,
     typing 2s steps(25) .5s normal both;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 10em;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: black;
    }
    to {
        border-right-color: transparent;
    }
}

/* Animação subTitulo */
.textDigitar {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.typing-animation-sub {
    animation: blinkCursorSub steps(40) 500ms infinite normal,
    typingSub 2s steps(25) 3s normal both;
}

@keyframes typingSub {
    from {
        width: 0;
    }
    to {
        width: 17em;
    }
}

@keyframes blinkCursorSub {
    from {
        border-right-color: black;
    }
    to {
        border-right-color: transparent;
    }
}

/* Animação Fundo */

.back {
    background: linear-gradient(45deg, #005478, #0095D6, #BF6600, #753F00);
    background-size: 200% 200%;
    animation: colors 12s ease infinite;
}

@keyframes colors{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}