<div class="container-fluid d-flex justify-content-center align-items-center back texto-caixa" style="height: 100vh">
    <div class="content caixa">
        <div class="row">
            <div class="col-md-12 rounded-circle perfil">
                <img src="https://i.imgur.com/MvHeGxM.png" class="rounded mx-auto d-block rounded-circle " alt="" width="200px">
            </div>
        </div>

        <div class="row">
            <p class="text-center text-white m-0 digitar typing-animation">Olá, Sou o Lucas! =)</p>
        </div>
        <div class="row d-flex justify-content-center caixa">
            <p class="m-0 textDigitar text-white typing-animation-sub">Desenvolvedor Web Full Stack Jr</p>
        </div>

    </div>
</div>