<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 90vh">
    <div class="content">
        <div class="row">
            <div class="col-md-12 rounded-circle">
                <img src="https://i.imgur.com/20HkuvX.png" class="rounded mx-auto d-block rounded-circle" alt="" width="150px">
            </div>
        </div>

        <div class="row">
            <p class="text-center m-0 digitar typing-animation">Olá, Sou o Lucas! =)</p>
        </div>
        <div class="row d-flex justify-content-center">
            <p class="m-0 textDigitar typing-animation-sub">Desenvolvedor Full Stack Java</p>
        </div>

    </div>
</div>