<div class="container-fluid back" style="height: 100vh">
    <div class="row d-flex justify-content-center align-items-center h-100  texto-caixa">
      <div class="col-md-2 caixa">
        <div class="row d-flex justify-content-center">
          <a href="https://www.linkedin.com/in/lucas-santos-gon%C3%A7alves-195720168/" target="_blank">
            <i class="fa fa-linkedin-square fa-5x icon-linkedin" aria-hidden="true"></i>
          </a>
        </div>
        <div class="row d-flex justify-content-center">
          <a href="https://github.com/LucasSG00" target="_blank">
            <i class="fa fa-github-square fa-5x icon-github" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    <div class="col-md-8 caixa">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="m-0 font-weight-bold" for="inputNome">Nome</label>
            <input type="text" class="form-control" id="inputNome" placeholder="Primeiro nome">
          </div>
          <div class="form-group col-md-6">
            <label class="m-0 font-weight-bold" for="inputSobrenome">Sobrenome</label>
            <input type="text" class="form-control" id="inputSobrenome" placeholder="Último sobrenome">
          </div>
        </div>
        <div class="form-group">
          <label class="m-0 font-weight-bold" for="inputEmail">Email</label>
          <input type="text" class="form-control" id="inputEmail" placeholder="Digite seu Email">
        </div>
        <div class="form-group">
          <label class="m-0 font-weight-bold" for="contatoTextarea">Assunto</label>
          <textarea class="form-control" id="contatoTextarea" rows="5" placeholder="Como podemos te ajudar?"></textarea>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-outline-dark border-white w-100 ">Enviar</button>
        </div>

      </form>
    </div>
  </div>

</div>