@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    color: #3C4152;
}

body, html {
    height: 100%;
    font-family: 'Rubik', sans-serif;
}

a{
    color: #3C4152;
    font-family: 'Rubik', sans-serif;
}

a:hover {
    text-decoration: none;
    color: #3C4152;
}

.fs-12 {
    font-size: 12pt;
}